<div class="main" align="left">


<td><h1 align="center">Agreement</h1></td></tr>

<table align="center" width="50%" border="0">

  <tr> 
	<td colspan="2"><input id="initial1" name="initial1" value="Yes" type="radio" checked="Yes"> <label for="initial1" >I 
give the permission to release my identity on a need to know basis to address allegations of fraud waste, abuse or misconduct.</label></font></td>
</tr><br/>
<tr> 
	<td colspan="2"><input id="initial1" name="initial1" value="No" type="radio"> <label for="initial1" >I understand that choosing to remain confidential may limit the ability to fully address my concerns</label></td>
</tr>
<tr align="center"><td><br/><br/>

  <input id="next" name="Next" value="Next" type="button" onclick="window.location = '../complaints';"></td>
</tr>

</table>

</div>


